src/jabberpoint_slidesequences.dtd

<!--
 Document Type Definition voor JabberPoint presentatties
 $Id$
 -->
<!ELEMENT presentation (showtitle,slides,slidesequences)>
<!ELEMENT showtitle (#PCDATA)>
<!ELEMENT slides (slide+)>
<!ELEMENT slide (title, item*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT item (#PCDATA)>
<!ATTLIST item kind CDATA #REQUIRED>
<!ATTLIST item level CDATA #REQUIRED>
<!ELEMENT slidesequences (slidesequence+)>
<!ELEMENT slidesequence (title,slidenumber+)>
<!ELEMENT slidenumber (#PCDATA)>
